[Unit]
Description
Wants=network.target
After=network.target

[Service]
User=root
ExecStart=/usr/bin/ls
Restart=always

[Install]
WantedBy=multi-user.target
